<div class="px-5 vh-100 d-flex flex-column justify-content-center">
  <div class="my-auto text-center">
    <h1 class="display-1"><span class="text-gradient">About</span></h1>
    <p class="display-1">Me</p>
  </div>
</div>
<section class="mb-5">
  <div class="row">
    <div class="col">
      <h1 class="display-2">Experiences</h1>
    </div>
    <div class="col-8">
      <div class="border-top py-4" *ngFor="let experience of experiences">
        <h1 class="mb-1 fw-lighter">{{ experience.designation }}</h1>
        <p class="d-flex justify-content-between">
          <span>{{ experience.company }}</span>
          <small class="border border-1 rounded-pill px-3 text-uppercase">{{
            experience.period
          }}</small>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mb-5">
  <div class="row">
    <div class="col">
      <h1 class="display-2">Skills</h1>
    </div>
    <div class="col-8 d-flex border-top py-3">
      <div class="w-50">
        <h3>Programming Languages</h3>
        <span
          >HTML, CSS, SCSS, JavaScript, jQuery, AJAX, Typescript, PHP, C#, C++,
          Java, SQL</span
        >
      </div>
      <div class="w-50">
        <h3>Frontend Frameworks</h3>
      </div>
    </div>
  </div>
</section>
