<div class="px-5 vh-100 d-flex flex-column justify-content-center">
  <div class="text-center">
    <div>
      <pre class="my-auto text-bg-light d-inline">&lt;h1/></pre>
      <h1 class="display-1">I’m <span>Atikah Adi</span></h1>
      <p class="fs-3">a Developer and UI/UX Designer</p>
    </div>
  </div>
</div>
<div class="px-5 py-auto vh-100">
  <p class="fs-1 fw-semibold">
    I'm a Malaysian self-motivated and solutions-oriented Software Developer /
    UI/UX Designer with over 5 years of experience in developing cutting-edge
    development solutions using a wide range of technology and frameworks with
    aspiration to deliver the best customer experience in web and mobile
    products.
  </p>
  <button type="button" class="btn btn-primary">Learn More</button>
  <hr />
</div>
